@{
    ViewData["Title"] = "For All Your Needs";
}

<div class="text-center site-title">
    <h1 class="display-2 text-secondary align-middle">One Stop Shop</h1>
    <h2 class="text-primary">Manage Your Store</h2>
</div>
