@model Shopping.Entities.Order
@{
    ViewData["Title"] = "ConfirmDeleteOrder";
}

<h1>Are You Sure you want to Delete Order</h1>

<form action="" method="post">
    <input hidden type="number" name="Id" value="@Model.Id" />
    <input type="submit" class="btn btn-primary" value="Yes" />
</form>
